body{
	

	background-color: #86BBD8;}
	.me {width: 500px;}
	.bottomsquare {
		width: 300px;
		height: 300px;
		overflow: hidden;
		position:relative;
		background-color: transparent;
		margin: 10px 0;
		}
	.bottomsquare img {
		width:100%;
		position:absolute;
		left:0;
		top: 50%;
		transform: translateY (-50%);
	}	
	
	ul {
		list-style-type: none;
		margin:0;
		padding: 0;
		overflow: hidden;
		background-color: #AF7595;		
	}
	li{
		float: left;
	}
	li a {
		display: block;
		Color: white;
		text-align: center;
		padding:14px 16px;
		text-decoration: none;
		font-weight: 700;
		font-family: Dancing Script;
	
	}
	li a:hover {
		background-color: #FF1178;
	}
	
	#container {
	width: 1100px;
	margin: 0 auto;

	}
	header {
		background-color: #AF7595;
	}
	header .cornerpic {
		width:200px;
		height:auto;
	}
	.headerpic {
		
		display: grid;
		grid-template-columns:50% 50%;
		padding:0px 0px 0px 10px;
		background-color: #175676;

	}
	.headerpic div{
	background-color:transparent;
	margin-right:10px;
	margin-left:10px;
	}
	}
	header h2 {
	
margin:0;
padding:40px;
	text-align: right;
	}
	h2{
		font-size: 80px;
		font-weight: 600;
		font-family: Dancing Script;
		color:white;
	}
	h1 {
		font-size: 90px;
		font-weight: 700;
		font-family: Dancing Script;
		color:white;
	}
	p {
		font-size: 30px;
		font-weight: 700;
		font-family: Dancing Script;
		color:white;
	}
	footer{
		background-color: #002642
	}
	footer p{
		color: #840032;
		margin:0
	}
	.two-column {
		display: grid;
		grid-template-columns:70% 30%;
		padding: 40px;
		background-color: #175676;

	}
	.two-column div{
	background-color:transparent;
	margin-right:10px;
	margin-left:10px;
	}
	.hobbies {
	width:100%;
	height: auto;
	}
	*{
		box-sizing: border-box;
	}
	img {
  vertical-align: middle;
}
	.container{
		position:relative;
	}
	.mySlides{
		display: none;
	}
	.cursor{
		cursor:pointer;
	}
	.prev,
	.next{
		cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
	}
	.next{
		right:0;
		border-radius:3px 0 0 3px;
	}
	.prev:hover,
	.next:hover{
		background-color: rgba(0,0,0,0.8);
	}
	.numbertext{
		color:#f2f2f2;
		font-size:12px;
		padding:8px 12px;
		position:absolute;
	top:0;
	}
	.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.containercom {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
}
.comment {
	display: block;
	transition: all 1s;
}
.commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}
.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
button.primaryContained:hover {
	background: #9201A8;
}
	
	.three-column{
		display:grid;
		grid-template-columns:33% 33% 33%;
		padding:40px;
		
	}
	.three-column div {
	background-color: #AF7595;
	margin-right:10px;
	margin-left:10px;
	}


